@charset "UTF-8";
/* CSS Document */
/*color palette
White:#F2F3EF
Light grey:#687073
Grey: #424748
Black:#242323
Blue/black:#0F151C
Darkblue: #2E5159
lightblue: #637E82
*/

#home_bg{ 
	background-image: url("images/forest_smoke2.jpg"); 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.70);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 500px;
	background-color: #2E5159;
}

#geo_bg{
	background-image: url("images/forest_smoke.png"); 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.80);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 500px;
	background-color: #2E5159;
	
}

#history_bg{
	background-image: url("images/fire.jpg"); 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.60);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 500px;
	
}

#people_bg{
	background-image: url("images/firefighters.jpg"); 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.70);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 500px;
}

#attractions_bg{
	background-image: url("images/cemetery.jpg"); 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.70);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 500px;
}

#contact_bg{
	background-image: url("images/fog5.jpg"); 
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.70);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	min-height: 500px;
}

#refs{
	padding: 20px;
	background-color: rgba(36,35,35,0.50);
}

section img {
	
	float:left;
	padding-top: 20px;
	margin-right: 20px;
}
section div {
	margin-top: 30px;
	margin-bottom: 10px;
	overflow: hidden;
	clear:both;
}

header {
	background-image: url("images/coal.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.50);
	background-position:left;
	background-size: cover;
}

navbarNavDropdown ul{
	text-align: center;
}

h1{
	font-family: berkshire swash, cursive;
	font-size: 80px;
}

h2 {
	font-family: berkshire swash, cursive;
	font-size: 60px;
}

h3{
	font-family: berkshire swash, cursive;
	font-size: 40px;
}

h4{
	font-family: heebo, sans-serif;
	font-size: 18px;
}

body{
	background-color: #2E5159;
	color:#F2F3EF;
	font-family: heebo, sans-serif;
}

footer{
	background-color: #242323;
	color:#F2F3EF;
}

/*link styling*/
/* unvisited link */
a:link {
  color: darkred;
}

/* visited link */
a:visited {
  color: #687073;
}

/* mouse over link */
a:hover {
  color: rgba(96,33,33,1.00);
	text-decoration: none;
}

/* selected link */
a:active {
  color: darkred;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bg-custom{
	background-color: #242323;
}